/*RoadRadio*/
@font-face {
	font-family: 'RoadRadio';
	src: url('~@/assets/fonts/RoadRadio/RoadRadio-Thin.eot');
	src: local('~@/assets/fonts/RoadRadio/RoadRadio-Thin'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Thin.eot?#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Thin.woff') format('woff'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'RoadRadio';
	src: url('~@/assets/fonts/RoadRadio/RoadRadio-Light.eot');
	src: local('~@/assets/fonts/RoadRadio/RoadRadio-Light'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Light.eot?#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Light.woff') format('woff'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'RoadRadio';
	src: url('~@/assets/fonts/RoadRadio/RoadRadio-Black.eot');
	src: local('~@/assets/fonts/RoadRadio/RoadRadio-Black'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Black.eot?#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Black.woff') format('woff'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'RoadRadio';
	src: url('~@/assets/fonts/RoadRadio/RoadRadio-Bold.eot');
	src: local('~@/assets/fonts/RoadRadio/RoadRadio-Bold'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Bold.eot?#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Bold.woff') format('woff'),
		url('~@/assets/fonts/RoadRadio/RoadRadio-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'RoadRadio';
	src: url('~@/assets/fonts/RoadRadio/RoadRadio.eot');
	src: local('~@/assets/fonts/RoadRadio/RoadRadio'),
		url('~@/assets/fonts/RoadRadio/RoadRadio.eot?#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/RoadRadio/RoadRadio.woff') format('woff'),
		url('~@/assets/fonts/RoadRadio/RoadRadio.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*RoadRadio end*/
